@import url('https://fonts.googleapis.com/css?family=Rubik');
html {
  font-family: 'Rubik', sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.grid {
  display: grid;
  grid-template-columns: 
}
